*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    color: #2f1c6a;
    font-weight: normal;
    min-width: 300px;
}
header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
}
.leftHeader img {
    width: 100px;
    cursor: pointer;
}
.rightHeader img {
    width: 25px;
    cursor: pointer;
}


main{
    margin-top: 80px;
    width: 100%;
}
.mainBoxleft{
    width: 100%;
    text-align: center;
}
.mainBoxleft p:nth-child(1) {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.mainBoxleft p:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.mainBoxleft p:nth-child(3)  {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}
.mainBoxleft p:nth-child(4)  {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.mainBoxleft span {
    font-size: 36px;
    font-weight: 600;

}
.mainClock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 5px;
    margin-bottom: 30px;
    font-size: 30px;
}
.mainClock div{
    border-radius: 5px;
    border: 1px solid #2f1c6a;
    padding: 10px;
}
.mainBoxleft button {
    all: unset;
    background-color: #2f1c6a;
    color: white;
    padding: 15px 70px;
    cursor: pointer;
    width: 120px;
    height: 20px;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 20px;
}
.mainBoxleft button :hover{
    background-color: #988ac2;
}
.shieldImg {
    width: 10px;
    margin-right: 5px;
}
.mainBoxright img {
    margin-top: 30px;
    width: 100%;
}