* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  color: #2f1c6a;
  font-weight: normal;
  min-width: 300px;
}
header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
}
.leftHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}
.leftHeader img {
  width: 150px;
  cursor: pointer;
}
.language {
  display: none;
}
.language span {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.language img {
  width: 40px;
}
.language p {
  font-weight: 500;
  color: black;
}
.rightHeaderMeniu {
  display: block;
}
.rightHeaderMeniu img {
  width: 25px;
  cursor: pointer;
}
.mobileNavBar {
  display: flex;
  background-color: #dcc3f6a2;
  position: fixed;
  width: 100px;
  height: 100px;
  right: 0;
  z-index: 1000;
  opacity: 0;
  transition: 1s;
}
.active {
  opacity: 100% !important;
}
.mobileNavBar nav {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 5px;
  align-items: end;
  padding-right: 30px;
  padding-top: 5px;
}
.rightHeader {
  display: none;
}
.rightHeader ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
.rightHeader ul li {
  list-style-type: none;
}
.rightHeader ul li img {
  width: 15px;
}
.rightHeader ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.rightHeader ul li a:hover {
  color: blue;
  border-bottom: 1px solid blue;
}
.rightHeader ul button {
  border-radius: 10px;
  font-weight: 500;
  color: black;
  all: unset;
  border: 2px solid black;
  padding: 10px 30px;
}
.rightHeader ul button:hover {
  background-color: #988ac2;
}

main {
  margin-top: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.mainBoxleft {
  width: 100%;
  text-align: center;
}
.mainBoxleft p:nth-child(1) {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.mainBoxleft p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.mainBoxleft p:nth-child(3) {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}
.mainBoxleft p:nth-child(4) {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.mainBoxleft span {
  font-size: 36px;
  font-weight: 600;
}
.mainClock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
  font-size: 30px;
}
.mainClock div {
  border-radius: 5px;
  border: 1px solid #2f1c6a;
  padding: 10px;
}
.button {
  all: unset;
  background-color: #2f1c6a;
  color: white;
  padding: 15px 70px;
  cursor: pointer;
  width: 120px;
  height: 20px;
  font-weight: 700;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
}
.button:hover {
  background-color: #988ac2;
}
.shieldImg {
  width: 10px;
  margin-right: 5px;
}
.mainBoxright img {
  margin-top: 30px;
  width: 100%;
}
